 <header  class="bg-blue-400 h-16 flex justify-center items-center">
  <input class="h-9 rounded p-5 min-w-96" type="search" name="search" id="" placeholder="Search your task">
</header>

<aside class="absolute top-17 w-80 bg-slate-50 border shadow z-20 h-screen">
  <ul>
    <li class="p-4 bg-blue-100 border-blue-500 border-l-2">All</li>
    <li class="p-4">Importent</li>
    <li class="p-4">Completed</li>
  </ul>
</aside>

<main class="bg-gray-200 ml-80  overflow-auto h-screen p-4">
  <h2 class="p-4 font-bold">Todays Task</h2>
  <div class="p-4">
    <span>Friday</span><span> 08 2024</span>
  </div>
  <div class="flex mt-10">
    <input class="h-10 w-full p-4 rounded" type="search" name="" id="" placeholder="Enter your task">
  </div>

  <div class="mt-3">
    <h2 class="p-4 font-bold">Tasks</h2>
  </div>

  <div>
    <p class="bg-white w-full h-14 rounded shadow flex items-center p-4">
      Task 1</p>
  </div>
</main> 

